openai==1.95.1
tiktoken==0.9.0
numpy==2.0.1
networkx
nano-vectordb==0.0.4.3
tqdm
tenacity==9.1.2
pydantic==2.11.7
aiohttp==3.12.14
aioboto3==15.0.0
ollama==0.5.1
torch
transformers==4.56.1
sentence-transformers